@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><a href="https://github.com/taqabubaker/AzTranslate" target="_blank">AzTranslate</a></h1>
    <p>an application to translate your YouTube videos using Azure speech service.</p>
</div>

<form method="post" asp-page-handler="">
    <div class="form-group">
        <label asp-for="YouTubeUrl" class="col-form-label"></label>
        <input asp-for="YouTubeUrl" class="form-control" />
        <span asp-validation-for="YouTubeUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>

    <div class="row mb-2">
        @if (Model.Video != null)
        {
            <div class="col-sm-12 col-md-6">
                <partial name="_VideoDetails" model="Model.Video" />
            </div>
        }

        @if (Model.Audios != null && Model.Audios.Count() > 0)
        {
            <div class="col-sm-12 col-md-6">
                <partial name="_AudioDetails" model="Model.Audios" />
            </div>
        }
    </div>

    @if (Model.SpeachLanguages != null && Model.TranslationLanguages != null)
    {
        <div class="card">
            <div class="card-body">

                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="TranslateFrom" class="col-form-label"></label>
                        <select asp-for="TranslateFrom" class="form-control form-select selectpicker"
                                data-live-search="true" title="--Select language--">
                            @foreach (var lang in Model.SpeachLanguages)
                            {
                                <option value="@lang.Value" data-tokens="@lang.Value">@lang.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-6">
                        <label asp-for="TranslateTo" class="col-form-label"></label>
                        <select asp-for="TranslateTo" class="form-control form-select selectpicker"
                                data-live-search="true" data-actions-box="true" title="--Select language(s)--">
                            @foreach (var lang in Model.TranslationLanguages)
                            {
                                <option value="@lang.Value" data-tokens="@lang.Value">@lang.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <span asp-validation-for="TranslateFrom" class="text-danger"></span>
                <button type="submit" class="btn btn-primary mb-2" asp-page-handler="Translate">Translate</button>
            </div>
        </div>
    }
</form>
