@page
@model AzTranslate.WebApp.Pages.TranslationJobDetailsModel
@{
    ViewData["Title"] = "Translation Job Details";
}

@Html.AntiForgeryToken()
<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header"><b>Log</b></div>
            <div class="card-body pre-scrollable">
                <ol id="logList" class="list-unstyled">
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-header">
                <b>Recognized Speech - @Model.WorkingLanguages.FirstOrDefault().Value</b>
                <input type="button" value="Download" class="btn btn-primary float-right" onclick="saveFile('transcript-list')" />
            </div>
            <div class="card-body pre-scrollable">
                <ol id="transcript-list" class="list-unstyled">
                </ol>
            </div>
        </div>
    </div>
    @foreach (var toLanguage in Model.WorkingLanguages.Skip(1))
    {
        <div class="col-sm-12 col-md-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <b>Translated Speech - @toLanguage.Value</b>
                    <input type="button" value="Download" class="btn btn-primary float-right"
                           onclick="saveFile('@($"translation-{toLanguage.Key.ToLower()}-list")')" />
                </div>
                <div class="card-body pre-scrollable">
                    <ol id="@($"translation-{toLanguage.Key.ToLower()}-list")" class="list-unstyled">
                    </ol>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/translate.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var token = $('input[name="__RequestVerificationToken"]').val();

            $.post("/TranslationJobDetails",
                {
                    youTubeUrl: '@Model.YouTubeUrl',
                    fromLanguage: '@Model.WorkingLanguages.Keys.First()',
                    toLanguages: @Html.Raw(@System.Text.Json.JsonSerializer.Serialize(Model.WorkingLanguages.Keys.Skip(1))),
                    __RequestVerificationToken: token
                }).fail(function (xhr, status, error) {
                    let err = "Translation request failed!\n";
                    err = err.concat("Status: ", status, "\n");
                    err = err.concat("Error: ", error, "\n");
                    logMessage("logList", err, "\n");
                });
        });
    </script>
}
